#main {
    font-family: Arial, serif;
    text-align: center;
}

.button {
    background-color: #ccc0b3;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 3px;
    height: 35px;
    width: 125px;
}

.button:hover {
    background-color: #8f7a66;
    color: white;
}

#header p {
    font-size: 20px;
    margin: 10px;
}

.board {
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    background-color: #bbada0;
    border-radius: 6px;
    padding: 5px;
    margin-top: 20px;
}

.grid {
    background-color: #ccc0b3;
    border-radius: 6px;
    margin: 6px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    width: 100px;
    position: relative;
}

.number {
    font-size: 55px;
    font-weight: bolder;
    border-radius: 6px;
    position: relative;
    display: block;
    z-index: 99;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
